/* Importing Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* Importing Source Code Pro */
@font-face {
    font-family: "Source Code Pro";
    src: url("../Fonts/Source Code Pro - Black.otf");
    src: url("../Fonts/Source Code Pro - Black Italic.otf");
    src: url("../Fonts/Source Code Pro - Bold.otf");
    src: url("../Fonts/Source Code Pro - Bold Italic.otf");
    src: url("../Fonts/Source Code Pro - Extra Light.otf");
    src: url("../Fonts/Source Code Pro - Extra Light Italic.otf");
    src: url("../Fonts/Source Code Pro - Italic.otf");
    src: url("../Fonts/Source Code Pro - Light.otf");
    src: url("../Fonts/Source Code Pro - Light Italic.otf");
    src: url("../Fonts/Source Code Pro - Medium.otf");
    src: url("../Fonts/Source Code Pro - Medium Italic.otf");
    src: url("../Fonts/Source Code Pro - Regular.otf");
    src: url("../Fonts/Source Code Pro - Semi Bold.otf");
    src: url("../Fonts/Source Code Pro - Semi Bold Italic.otf");
}
/* Declaration of variables */
:root {
    --proximaNova: "Proxima Nova";
    --color1: rgb(51, 51, 51);
    --color2: rgb(205, 205, 205);
    --percentage: 100%;
    --pixel: 100px;
    --tablet: 0.729;
    --mobile: 0.531441;
    --sourceCodePro: "Source Code Pro";
}
/* Body */
* {
    background-color: var(--color1);
    color: var(--color2);
    width: var(--percentage);
    margin: calc(var(--percentage) * 0);
    font-family: sans-serif;
}
/* Header */
header {
    text-align: center;
    font-size: calc(var(--percentage) * 2);
    font-family: var(--proximaNova);
    font-weight: bold;
    margin: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0);
}
/* Main */
main {
    display: flex;
}
main div {
    text-align: center;
    font-family: var(--sourceCodePro);
    font-weight: bold;
    font-size: calc(var(--percentage) * 1.21);
    margin-top: calc(var(--percentage) * 0.01);
}
main div a {
    text-decoration: none;
    color: var(--color1);
    background-color: var(--color2);
    padding: calc(var(--percentage) * 0.0295245)
        calc(var(--percentage) * 0.059049);
}
main div a:hover {
    background-color: var(--color1);
    color: var(--color2);
}
