/* Importing Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* Importing Source Code Pro */
@font-face {
    font-family: "Source Code Pro";
    src: url("../Fonts/Source Code Pro - Black.otf");
    src: url("../Fonts/Source Code Pro - Black Italic.otf");
    src: url("../Fonts/Source Code Pro - Bold.otf");
    src: url("../Fonts/Source Code Pro - Bold Italic.otf");
    src: url("../Fonts/Source Code Pro - Extra Light.otf");
    src: url("../Fonts/Source Code Pro - Extra Light Italic.otf");
    src: url("../Fonts/Source Code Pro - Italic.otf");
    src: url("../Fonts/Source Code Pro - Light.otf");
    src: url("../Fonts/Source Code Pro - Light Italic.otf");
    src: url("../Fonts/Source Code Pro - Medium.otf");
    src: url("../Fonts/Source Code Pro - Medium Italic.otf");
    src: url("../Fonts/Source Code Pro - Regular.otf");
    src: url("../Fonts/Source Code Pro - Semi Bold.otf");
    src: url("../Fonts/Source Code Pro - Semi Bold Italic.otf");
}
/* Declaration of variables */
:root {
    --proximaNova: "Proxima Nova";
    --color1: rgb(51, 51, 51);
    --color2: rgb(205, 205, 205);
    --color3: rgb(26, 26, 26);
    --color4: rgb(230, 230, 230);
    --percentage: 100%;
    --pixel: 100px;
    --tablet: 0.729;
    --mobile: 0.531441;
    --sourceCodePro: "Source Code Pro";
}
/* Body */
* {
    background-color: var(--color1);
    color: var(--color2);
    width: var(--percentage);
    margin: calc(var(--percentage) * 0);
    font-family: sans-serif;
}
header,
main {
    margin: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0);
}
/* Header */
header #home {
    display: flex;
    justify-content: center;
}
header #home a {
    width: unset;
}
header #home a img {
    height: calc(var(--pixel) * 1);
    width: auto;
    opacity: calc(var(--percentage) * 0.5);
}
header #home a img:hover {
    opacity: var(--percentage);
}
header #pageDescription {
    text-align: center;
    font-weight: bold;
    font-family: var(--proximaNova);
    font-size: calc(var(--percentage) * 1.3122);
}
/* Main */
main form #mailAddress {
    display: flex;
}
main form #mailAddress div,
main form #mailAddress input {
    font-family: var(--sourceCodePro);
}
main form #mailAddress div {
    width: calc(var(--percentage) * 0.102945566);
}
main form #mailAddress input {
    width: calc(var(--percentage) * 0.897054434);
    border: none;
    background-color: var(--color3);
    color: var(--color4);
}
main form #button {
    margin-top: calc(var(--percentage) * 0.01);
    text-align: center;
}
main form #button button {
    width: unset;
    color: var(--color1);
    background-color: var(--color2);
    font-family: var(--proximaNova);
    font-weight: bold;
    font-size: var(--percentage);
    padding: calc(var(--percentage) * 0.010294556)
        calc(var(--percentage) * 0.020589113);
    cursor: pointer;
    border: none;
}
main form #button button:hover {
    background-color: var(--color1);
    color: var(--color2);
}
/* Footer */
footer {
    text-align: center;
    font-style: italic;
}
footer a {
    font-style: normal;
    text-decoration: none;
    font-family: var(--sourceCodePro);
    font-weight: normal;
}
footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}
